html, body {
    margin: 0;
    overscroll-behavior-y: contain;
}

html, body, #app, #home {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #850606;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.full-height {
    height: 100%;
}

body {
    --icon-size: 1.2em;
    --btn-size: 2em;
    --transition-speed: .3s;
    background-color: var(--background-color);
}

input, select, textarea {
    color: var(--font-color);
}

text {
    fill: var(--font-color);
    transition: fill var(--transition-speed);
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
    background-color: unset;
    font-size: 18px;
    caret-color: grey;
}

.icon {
    font-size: var(--icon-size);
}

.btn {
    font-size: var(--btn-size);
    line-height: 0.5;
}

.dark {
    --background-color: black;
    --font-color: #DDD;
    --hover-color: #153517;
}