html, body {
    height: 100%;
    margin: 0;
    overscroll-behavior-y: contain;
}

body {
    --icon-size: 1.2em;
    --btn-size: 2em;
    --transition-speed: .3s;
    background-color: var(--background-color);
}

input, select, textarea {
    color: var(--font-color);
}

text {
    fill: var(--font-color);
    transition: fill var(--transition-speed);
}

a {
    text-decoration: none;
}

.clickable:hover {
    cursor: pointer;
}

.hoverable:hover {
    background-color: var(--hover-color);
    fill: var(--hover-color);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}

.fade-enter-active, .fade-leave-active {
    transition: opacity var(--transition-speed);
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

input {
    outline: none;
    border: none;
    background-color: unset;
    font-size: 18px;
    caret-color: grey;
}

@media (max-width: 767px) {
    .large-only {
        display: none;
    }
}

.icon {
    font-size: var(--icon-size);
}

.btn {
    font-size: var(--btn-size);
    line-height: 0.5;
}

.full-height {
    height: 100%;
}

.dark {
    --background-color: black;
    --font-color: #DDD;
    --hover-color: #153517;
}